$icon-font-path: '../fonts/';

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}
// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bower_components/juice/dist/_juice.scss";
// endbower

@include font-face ('Avenir', $icon-font-path + 'AvenirNextLTPro-Bold', 'bold', 'normal','ttf, eot, otf');
@include font-face ('Avenir', $icon-font-path + 'AvenirNextLTPro-Regular', '400', 'normal','ttf, eot, otf');
@include font-face ('Avenir', $icon-font-path + 'AvenirNextLTPro-It', '400', 'italic','ttf, eot, otf');

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

$fondo: #f9e6db;
$texto: black;
$cita: #a6b2a8;
/* Space out content a bit */
body {
  background: $fondo;
  font-family: 'Avenir';
  color: $texto;
  line-height: 1.55;
}
section {
  @include clearfix();
}

blockquote {
  border-color: $fondo;
  font-size: .93em;
  margin: 35px 0 20px;
}

p {
  margin: 0 0 20px;
  font-size: .93em;
}

.capitulo {
  &__wrap {
    position: relative;
    background: white;
    padding: 15px;
    min-height: 100vh;
    @include bp(medium-up){
      width: 33%;
      float: left;
      padding-bottom: 100px;
    }
  }
  &__tittle {
    margin: 20px 0;
    position: relative;
    h1 {
      font-weight: bold;
      font-size: 35px;
    }
    @include bp(medium-up){
      margin: 40px 0;
      padding: 0 20px 0 70px;
      h1 {
        font-size: 48px;
      }
    }
  }
  &__pleca,
  &__letra,
  &__globo{
    position: absolute;
  }
  &__globo {
    z-index: 1;
    left: 3px;
    top: -36px;
    max-width: 36px;
  }
  &__pleca {
    z-index: 1;
    left: 0;
    top:10px;
  }
  &__letra {
    max-height: 80px;
    top: -20px;
    left: -15px;
  }
  &__texto {
    margin: 5px 0;
    padding: 0 60px 0 70px;
    text-align: justify;
  }
  &__ilustracion {
    text-align: center;
    img {
      display: inline-block;
      margin: 40px 20px;
    }
  }
  &__hold {
    float: right;
    width: 67%;
    min-height: 100vh;
    position: relative;
  }
  &__wrapGrph {
    height: 100vh;
  }
  &__ilustra {
    @include coverer;
  }
  &__ilustra:before {
    content: ' ';
    width: 80%;
    height: 80%;
    transition: background-color 1s ease-out 1s;
    background: #f9e6db;
    @include centerer;
  }

  &--cita {
    color: $cita;
    text-transform: uppercase;
    font-size: 1.14em;
  }
  &--baja {
    left: -10px;
    top: 10px;
  }
  &--anima {
    position: absolute;
    transition: .5s all ease-out;
    @include centerer;
  }
  &.hover{
    .capitulo__ilustra:before {
      content: ' ';
      width: 80%;
      height: 80%;
      background: -moz-radial-gradient(center, ellipse cover, rgb(255, 242, 235) 0%, rgba(255, 242, 235, 0.1) 60%, rgba(125, 185, 232, 0) 100%);
      background: -webkit-radial-gradient(center, ellipse cover, rgb(255, 242, 235) 0%, rgba(255, 242, 235, 0.1) 60%, rgba(125, 185, 232, 0) 100%);
      background: radial-gradient(ellipse at center, rgb(255, 242, 235) 0%, rgba(255, 242, 235, 0.1) 60%, rgba(125, 185, 232, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff2eb', endColorstr='#007db9e8',GradientType=1 );
      @include centerer;
    }
  }
}
.animx_1,
.animx_2,
.animx_3 {
  opacity: 0;
  &.active {
    opacity: 1;
    transition-delay: .5s;
  }
}

.animx_1 {
  &:nth-child(1){
    top: 20%;
    left: 5%;
  }
  &:nth-child(2){
    top: 10%;
    left: 90%;
  }
  &:nth-child(6){
    top: 90%;
    left: 80%;
  }
  &:nth-child(3){
    top: 40%;
    left: 35%;
  }
  &:nth-child(4){
    top: 20%;
  }
  &:nth-child(5){
    top: 80%;
    left: 90%;
  }
  &:nth-child(7){
    top: 10%;
    left: 12%;
  }
  &:nth-child(8){
    top: 68%;
    left: 97%;
  }
}
.animx_1.active {
  &:nth-child(1){
    top: 40%;
    left: 25%;
  }
  &:nth-child(2){
    top: 30%;
    left: 80%;
  }
  &:nth-child(6){
    top: 70%;
    left: 60%;
  }
  &:nth-child(3){
    top: 30%;
    left: 30%;
  }
  &:nth-child(4){
    top: 40%;
  }
  &:nth-child(5){
    top: 65%;
    left: 70%;
  }
  &:nth-child(7){
    top: 30%;
    left: 32%;
  }
  &:nth-child(8){
    top: 58%;
    left: 77%;
  }
}
.animx_2 {
  &:nth-child(1){
    top: 20%;
    left: 75%;
  }
  &:nth-child(2){
    top: 35%;
  }
  &:nth-child(3){
    left: 70%;
    top:70%;
  }
  &:nth-child(4){
    left: 80%;
    top: 60%;
  }
  &:nth-child(5){
    left: 40%;
    top: 35%;
  }
  &:nth-child(6){
    left: 20%;
    top:50%;
  }
  &:nth-child(7){
    left: 30%;
    top: 40%;
  }
  &:nth-child(8){
    left: 80%;
    top: 70%;
  }
}
.animx_2.active {
  &:nth-child(1){
    top: 40%;
    left: 65%;
  }
  &:nth-child(2){
    top: 45%;
  }
  &:nth-child(3){
    left: 59%;
    top:62%;
  }
  &:nth-child(4){
    left: 67%;
    top: 50%;
  }
  &:nth-child(6){
    left: 39%;
    top:53.5%;
  }
  &:nth-child(5){
    left: 45.5%;
    top: 41%;
  }
  &:nth-child(7){
    left: 46%;
    top: 53.5%;
  }
  &:nth-child(8){
    left: 63%;
    top: 54%;
  }
}
.animx_3 {
  &:nth-child(1){
    left: 22%;
    top: 30%;
  }
  &:nth-child(2){
    left: 20%;
    top: 70%;
  }
  &:nth-child(3){
    left: 80%;
    top: 70%;
  }
  &:nth-child(4){
    top: 16%;
  }
  &:nth-child(5){
    top: 25%;
    left: 75%;
  }
  &:nth-child(6){
    top: 75%;
    left: 60%;
  }
  &:nth-child(7){
    top: 70%;
    left: 60%;
  }
  &:nth-child(8){
    top: 10%;
    left: 25%;
  }
}
.animx_3.active {
  &:nth-child(1){
    left: 42%;
    top: 48%;
  }
  &:nth-child(2){
    left: 37%;
    top: 64%;
  }
  &:nth-child(3){
    left: 67%;
    top: 57%;
  }
  &:nth-child(4){
    top: 36%;
  }
  &:nth-child(5){
    top: 45%;
    left: 55%;
  }
  &:nth-child(6){
    top: 58%;
    left: 57.5%;
  }
  &:nth-child(7){
    top: 57%;
    left: 54%;
  }
  &:nth-child(8){
    top: 30%;
    left: 35%;
  }
}